.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: inherit;
    stroke: inherit;

    font-size: 40px;
    fill: cadetblue;
    transition: fill, transform .2s ease-out;
}

.icon-item {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #f1f1f1;
}

.icon-item:hover .icon {
    fill: crimson;
    transform: scale(1.5);
}


.icon-item {

}

.icon-item__graphics {
    text-align: center;
}

.icon-item__title {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
    color: #282828;
}