.icon-list {

}

.icon-list__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin-top: 0;
}

.icon-list__title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.icon-list__subtitle {
    font-size: .5em;
    color: cadetblue;
}

.icon-list__item {
    margin: 2px;
}